body{
    margin: 0;
    background-color: #FDECC5;

}


.Bar_Buscador{
    background-color: #FACC5F;
    width: 100%;
    height: 10vh;
    display: flex;
    position: fixed; /* Fija el encabezado en la parte superior */
    top: 0; /* Lo coloca en la parte superior de la ventana */
    left: 0;
    transition: top 0.3s; /* Transición suave al desplazarse */

}
.Bar_Buscador a{
    width: 30%;
    margin-left: 3%;
    height: 100%;
    display: flex;
}
.Bar_Buscador img{
    width: 100%;
}
.Buscador_Text{
    width: 40%;
    margin-left: 10%;
    display: flex;
    align-items: center;
}
.Buscador_Text input{
    width: 70%;
    height: 30%;
}
.boton_buscar {
background-color: rgba(255, 255, 255, 0.646);
height: 40%;
border-radius: 5px;
width: 10%;
display: flex;

}
.boton_buscar a{
    width: 100%;
    text-decoration: none;
    align-items: center;
    margin-left: 15%;
    color: black;

}
.boton_buscar:hover{
    background-color: saddlebrown;
    cursor: pointer;
    color: white;
}
.boton_buscar a:hover{
    background-color: saddlebrown;
    cursor: pointer;
    color: white;
}

/* resultado */
.Resultado_Buscar{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Contenedor */



   /* Agrega estilos para mostrar los resultados en línea */

.MegaBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en el contenedor */

}
@media (max-width: 430px) {
    .MegaBox{
        width: 100%;
        height: auto;
    
    }
    #Box_Contenido{
        background-color: #FACC5F;
        width: 96%;
        margin-left: 2%;
        height: 200px;
        background-size: cover; /* Ajusta el tamaño para cubrir completamente */
        text-align: center;
        font-size: 10px;
    }
    .Bar_Buscador a{
        width: 40%;
        margin-left: 3%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Bar_Buscador img{
        width: 90%;
        height: 60%;
    }
    .Buscador_Text{
    width: 60%;
    display: flex;
    margin-left: -1%;
    align-items: center;
}
.Buscador_Text input{
    width: 60%;
    height: 30%;
}
.boton_buscar {
background-color: rgba(255, 255, 255, 0.646);
height: 40%;
border-radius: 5px;
width: 40%;
display: flex;

}
.boton_buscar a{
    width: 100%;
    text-decoration: none;
    align-items: center;
    margin-left: 15%;
    color: black;

}
    
}


/* Puedes ajustar estos estilos según sea necesario */
.Box_Contenido h2 {
    margin-bottom: 5px;
    color: white;
    margin: 10% 10% 15% 10%;
}

.imagen-perfil {
    width: 100px; /* Ajusta el ancho de la imagen según tu diseño */
    height: auto;
}
/* Resultados */

.Box_Contenido{
    margin-left: 6%;
    margin-top: 3%;
    background-color: #FACC5F;
    width: 15%;
    height: 200px;
    background-size: cover; /* Ajusta el tamaño para cubrir completamente */
    text-align: center;
}
.Box_Contenido a{
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
}
.Box_Contenido a:hover{
    color: #FACC5F;
    cursor: pointer;
    border-bottom: solid 2px   rgb(187, 144, 114);
}
.Box_ContenidoF{
    background-color: #0000009a;
    width: 100%;
    height: 100%;
    margin-top: -9%;


}


