#estados {
    display: none; 
  }

.cerrar_sesion{
  width: 100%;
  background-color: #FACC5F;
  display: flex;
  align-items: center;
}
.cerrar_sesion h2{
  margin-left: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.salir_btn{
  width: 50%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Salir_perfil{
  margin-left: 100%;
  background-color:rgba(245, 222, 179, 0) ;
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
}
#Salir_perfil:hover{
  color: #ffffff;
  background-color: saddlebrown;
  cursor: pointer;
}


  .custom-select {
    display: flex;
    flex-direction: column;
  }

  .custom-select label {
    display: flex;
    align-items: center;
  }

  .custom-select input[type="checkbox"] {
    margin-right: 5px;
  }

/* Estilos para el contenedor imagen1 */




.Perfil_Empresa{
  width: 100%;
  height: 300px;
  display: flex;
}
.Perfil_Datos{
  width: 50%;
  height: 80%;
  display: flex;
}
.Imagen_Perfil{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Imagen_Perfil img{
  width: 80%;
  height: 80%;
  border-radius: 100%;
  border: solid 2px black;

}
.Datos_Perfil{
  width: 50%;
  height: 100%;
  text-align: center;
}
.Datos_Perfil h2{
  margin-top: 20%;
  font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Botones_perfil{
  width: 100%;
  display: flex;
}


/* Estilos para el contenedor de los botones */
.Botones_perfil {
    display: flex; /* Alinear elementos en fila */
    align-items: center; /* Alinear verticalmente al centro */
}

/* Estilo para ocultar el input file */
.input-file {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

/* Estilo para el label que actúa como botón de selección */
.input-file-label {
    position: relative;
    padding: 8px 12px; /* Ajusta el padding según el diseño */
    background-color: #ffffff; /* Color de fondo del botón */
    border: 2px solid #000000; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
margin-left: 10%;
}

/* Estilo opcional para el botón de selección de archivo al pasar el cursor */
.input-file-label:hover {
    background-color: #e0e0e0; /* Cambia el color de fondo al pasar el cursor */
}

/* Estilo para el botón de submit */
.submit-button {
font-size: 14px;
padding: 10px;
  background-color: #ffffff; /* Color de fondo del botón */
    color: rgb(0, 0, 0); /* Color del texto */
    border: solid 2px black;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    margin-left: 10%;

}
.submit-button:hover{
  background-color: rgba(110, 110, 110, 0.714);
  cursor: pointer;
  
}

/* Descripcion */
.Imagenes_E{
  width: 50%;
  height: 100%;
  text-align: center;
}
.Imagenes_E textarea{
  width: 80%;
  height: 150px;
  font-size: 14px;
  background-color: #000000b5;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  resize: none;
  border: none;
}
.Imagenes_E input{
  width: 30%;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.811);
  color: white;
}
.Imagenes_E input:hover{
  background-color: saddlebrown;
  color: white;
  cursor: pointer;
}

/* Formulario y maps */

.Datos_Lugar{
  width: 100%;
  height: 80vh;
display: flex;
}
.Datos_Form{
width: 50%;
display: flex;
justify-content: center;
}
.Form_box{
  border: solid 2px black;
  width: 80%;
  height: 90%;
  margin-top: -5%;
  border-radius: 20px;
  text-align: center;
  background-color: #FACC5F;

}
    /* Estilos para los labels dentro de los inputs */
    .Form_box input[type="text"]:focus::placeholder,
    input[type="email"]:focus::placeholder,
    input[type="tel"]:focus::placeholder,
    input[type="password"]:focus::placeholder {
        transition: all 0.3s ease-out;
        transform: translateY(-20px);
        font-size: 0.8em;
        color: #999;
    }

    /* Estilos para los labels dentro de los inputs cuando están llenos */
    .Form_box input[type="text"]:valid::placeholder,
    input[type="email"]:valid::placeholder,
    input[type="tel"]:valid::placeholder,
    input[type="password"]:valid::placeholder {
        font-size: 0.8em;
        transform: translateY(-20px);
    }

    /* Estilos para los inputs */
    .Form_box input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        margin: 0% 5% 0% 5%;
        width: 90%;
        height: 40px;
        border-radius: 10px;
        border: none;
    }
#Boton_Datos{
  width: 40%;
  font-size: 20px;
  border-radius: 10px;
} 
#Boton_Datos:hover{
  background-color: saddlebrown;
  cursor: pointer;
  color: white;
}

.Maps_Lugar{
  width: 50%;
  text-align: center;
}

#BTN_MAPS{
  font-size: 20px;
  background-color: #99999900;
  border-radius: 10px;
}
#BTN_MAPS:hover{
  background-color: saddlebrown;
  color: rgb(255, 255, 255);
  cursor: pointer;
}